.o-history {
  margin-top: 20px;
  padding: 10px;
}

.o-list {
  list-style: none;
  padding: 0;
}

.o-item {
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.o-item div {
  display: flex;
  justify-content: space-between;
}

.o-item span {
  font-size: 14px;
}
