.base-container {
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}

.base-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.base-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.base-card {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  width: 180px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.base-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-color: #e43c0a;
}

.base-card.selected {
  border-color: #fc3b00;
  background-color: #ff0000cd;
  color: #fd3b00;
}

.base-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.base-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.base-card p {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

@media (max-width: 600px) {
  .base-card {
      width: 100%;
  }

  .base-options {
      flex-direction: column;
  }
}
